*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #161616;
  height: 100vh;
  overflow-x: hidden;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  min-height: calc(100% - 70px);
}

.no-opacity {
  opacity: 0;
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner__circle {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  border: 2px solid rgba(194, 11, 11, 0.3);
  border-radius: 50%;
  border-top-color: #c20b0b;
  margin-right: 1rem;
  -webkit-animation: spinner 2000ms linear infinite;
          animation: spinner 2000ms linear infinite;
}

.spinner__message {
  color: #f5f5f7;
  font-size: 1.4rem;
}

.error {
  color: #f5f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__icon {
  fill: #c20b0b;
  font-size: 3rem;
  -webkit-animation: shake 100ms ease-in-out 10 alternate;
          animation: shake 100ms ease-in-out 10 alternate;
}

.error__message {
  font-size: 1.6rem;
  padding: 0 8px;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  to {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}

@keyframes shake {
  from {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  to {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
}

.title {
  display: block;
  white-space: nowrap;
  font-family: "RocknRoll One", sans-serif;
  font-size: 6rem;
  text-align: center;
  letter-spacing: 0.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title__link {
  color: #f5f5f7;
  text-decoration: none;
}

.title__start {
  padding: none;
  position: relative;
  left: 1.8rem;
}

.title__virus {
  fill: #c20b0b;
}

.title__end {
  padding: none;
  position: relative;
  right: 1.8rem;
}

.search {
  position: relative;
  max-width: 500px;
  width: 100%;
  min-height: 40px;
}

.search__field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  color: #6e6e6e;
  background: #282828;
  border: none;
  border-radius: 20px;
  padding: 1.4rem 50px 1.4rem 50px;
  font-size: 1.6rem;
  border: 1px solid #282828;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.search__field::-webkit-input-placeholder {
  color: #6e6e6e;
}

.search__field:-ms-input-placeholder {
  color: #6e6e6e;
}

.search__field::-ms-input-placeholder {
  color: #6e6e6e;
}

.search__field::placeholder {
  color: #6e6e6e;
}

.search__field:focus {
  color: #f5f5f7;
  border: 1px solid #c20b0b;
  background: transparent;
}

.search__btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40px;
  background: #c20b0b;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.search__btn:focus {
  outline: none;
}

.search__btn:hover {
  background: #f5f5f7;
}

.search__btn:hover .search__icon {
  fill: #c20b0b;
}

.search__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #f5f5f7;
  font-size: 1.8rem;
}

.search__clear {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  height: 100%;
  width: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.search__clear:focus {
  outline: none;
}

.search__clear:hover .search__clear-svg {
  stroke: #c20b0b;
}

.search__clear-svg {
  stroke: #f5f5f7;
}

.search-list {
  height: 0;
  max-width: 500px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.search-list--height {
  height: 250px;
}

.search-list__item {
  height: calc(250px / 6);
  border-bottom: 1px solid #3c3c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.search-list__item:hover {
  background: #1e1e1e;
}

.search-list__search-icon {
  font-size: 1.4rem;
  fill: #6e6e6e;
}

.search-list__country {
  font-size: 1.4rem;
  color: #f5f5f7;
}

.search-list__abbr {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #6e6e6e;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-1 {
  width: 320px;
  height: auto;
  background: -webkit-gradient(linear, right bottom, left top, from(#212121), to(#232323));
  background: linear-gradient(to top left, #212121, #232323);
  border-radius: 18px;
  margin: 5px;
  overflow: hidden;
  position: relative;
}

.card-1__wrapper {
  padding: 20px 20px 0 20px;
}

.card-1__image-wrapper {
  width: 70%;
  margin: 0 auto;
}

.card-1__image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-1__title {
  color: #f5f5f7;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid #c20b0b;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.card-1__country {
  font-weight: bold;
}

.card-1__abbr {
  color: #6e6e6e;
}

.card-1__list {
  list-style: none;
  color: #f5f5f7;
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-1__item {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-1__icon {
  font-size: 1.8rem;
  fill: #c20b0b;
}

.card-1__label {
  padding-left: 8px;
  padding-right: 8px;
  color: #b4b4b4;
}

.card-1__number {
  letter-spacing: 0.1rem;
}

.daily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f5f5f7;
  background: #2d2d2d;
}

.daily-title {
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  background: #1e1e1e;
}

.daily-title__name {
  color: #f5f5f7;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.daily-title__date-wrapper {
  color: #6e6e6e;
  font-size: 1rem;
}

.daily-title__date-label {
  padding-right: 2px;
}

.daily__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #2d2d2d;
}

.daily__block--cases {
  border-right: 2px solid #1e1e1e;
}

.daily__block--deaths {
  border-right: 2px solid #1e1e1e;
}

.daily__value-container {
  padding-bottom: 6px;
  text-align: center;
}

.daily__value {
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.daily__percentage--red {
  color: #ff3535;
}

.daily__percentage--green {
  color: #35ff35;
}

.daily__percentage--hidden {
  display: none;
}

.daily__percentage--shown {
  display: inline;
}

.daily__label {
  text-transform: uppercase;
  color: #b4b4b4;
}

.card-2 {
  width: 320px;
  height: auto;
  background: -webkit-gradient(linear, right bottom, left top, from(#212121), to(#232323));
  background: linear-gradient(to top left, #212121, #232323);
  border-radius: 18px;
  margin: 5px;
  position: relative;
  overflow: hidden;
}

.card-2__wrapper {
  padding: 20px 20px 0 20px;
}

.card-2__title {
  color: #f5f5f7;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid #c20b0b;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.card-2__total {
  font-weight: bold;
}

.card-2__list {
  list-style: none;
  color: #f5f5f7;
  font-size: 1.4rem;
  margin-top: 15px;
  margin-bottom: 20px;
}

.card-2__item {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-2__icon {
  font-size: 1.8rem;
}

.card-2__icon--cases {
  fill: #0084ff;
}

.card-2__icon--deaths {
  fill: #ff3535;
}

.card-2__icon--recovered {
  fill: #35ff35;
}

.card-2__icon--active {
  fill: #abab18;
}

.card-2__icon--tests {
  fill: #117607;
}

.card-2__label {
  padding-left: 8px;
  padding-right: 8px;
  color: #b4b4b4;
}

.card-2__number {
  letter-spacing: 0.1rem;
}

.card-2__btn-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 20px;
}

.card-2__rankings-btn {
  font-size: 1.3rem;
  width: 120px;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  background: -webkit-gradient(linear, right bottom, left top, from(#c20b0b), to(#bc2f2f));
  background: linear-gradient(to top left, #c20b0b, #bc2f2f);
  color: #f5f5f7;
  padding: 6px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 4px 3px 8px #1a1a1a;
          box-shadow: 4px 3px 8px #1a1a1a;
  -webkit-transition: border 250ms;
  transition: border 250ms;
}

.card-2__rankings-btn:hover {
  border: 1px solid #f5f5f7;
}

.card-2__precaution-btn {
  font-size: 1.3rem;
  width: 120px;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  background: -webkit-gradient(linear, right bottom, left top, from(#c20b0b), to(#bc2f2f));
  background: linear-gradient(to top left, #c20b0b, #bc2f2f);
  color: #f5f5f7;
  padding: 6px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 4px 3px 8px #1a1a1a;
          box-shadow: 4px 3px 8px #1a1a1a;
  -webkit-transition: border 250ms;
  transition: border 250ms;
}

.card-2__precaution-btn:hover {
  border: 1px solid #f5f5f7;
}

.card-2-back {
  position: absolute;
  top: 0;
  left: -100%;
  /*-100%*/
  width: 100%;
  /*0*/
  height: 100%;
  padding: 20px;
  background: -webkit-gradient(linear, right bottom, left top, from(#212121), to(#232323));
  background: linear-gradient(to top left, #212121, #232323);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.card-2-back--active {
  left: 0;
}

.card-2-back__title-container {
  color: #f5f5f7;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid #c20b0b;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.card-2-back__title {
  font-weight: bold;
}

.card-2-back__list {
  list-style: none;
  color: #f5f5f7;
  margin-top: 15px;
  margin-bottom: 20px;
}

.card-2-back__item {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-2-back__icon {
  font-size: 1.4rem;
  fill: #c20b0b;
}

.card-2-back__text {
  font-size: 1.3rem;
  padding-left: 6px;
}

.card-2-back__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-2-back__btn {
  font-size: 1.3rem;
  width: 100px;
  font-family: 'Poppins', sans-serif;
  background: -webkit-gradient(linear, right bottom, left top, from(#c20b0b), to(#bc2f2f));
  background: linear-gradient(to top left, #c20b0b, #bc2f2f);
  color: #f5f5f7;
  padding: 6px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 4px 3px 8px #1a1a1a;
          box-shadow: 4px 3px 8px #1a1a1a;
  -webkit-transition: border 250ms;
  transition: border 250ms;
}

.card-2-back__btn:hover {
  border: 1px solid #f5f5f7;
}

.card-2-back__btn-icon {
  stroke: #f5f5f7;
  display: block;
}

.card-2-back__btn-text {
  padding-left: 5px;
}

.card-2-back__btn--info {
  font-family: 'Poppins', sans-serif;
  background: -webkit-gradient(linear, right bottom, left top, from(#c20b0b), to(#bc2f2f));
  background: linear-gradient(to top left, #c20b0b, #bc2f2f);
  color: #f5f5f7;
  padding: 6px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 4px 3px 8px #1a1a1a;
          box-shadow: 4px 3px 8px #1a1a1a;
  -webkit-transition: border 250ms;
  transition: border 250ms;
  padding: 0;
  overflow: hidden;
}

.card-2-back__btn--info:hover {
  border: 1px solid #f5f5f7;
}

.card-2-back__link {
  text-decoration: none;
  color: #f5f5f7;
  height: 100%;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
}

.card-3 {
  width: 640px;
  height: auto;
  background: -webkit-gradient(linear, right bottom, left top, from(#212121), to(#232323));
  background: linear-gradient(to top left, #212121, #232323);
  border-radius: 18px;
  margin: 5px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.rankings-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rankings {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
}

.rankings__label-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1000px;
  background: #1e1e1e;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 476px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.rankings__label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #b4b4b4;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.rankings__label--country {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.rankings__list {
  width: 100%;
  max-width: 1000px;
  min-width: 476px;
}

.rankings__item {
  list-style: none;
  color: #f5f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #1e1e1e;
  border-left: 1.5px solid #1e1e1e;
  border-right: 1.5px solid #1e1e1e;
}

.rankings__item:last-child {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.rankings__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.rankings__flag {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 8px;
}

.rankings__country {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ranked {
  width: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f5f5f7;
  padding: 1.2rem;
}

.ranked__label {
  font-size: 1.3rem;
  color: #b4b4b4;
}

.ranked__select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10rem;
}

.ranked__select-box label {
  font-size: 1.3rem;
  cursor: pointer;
  pointer-events: none;
  text-transform: capitalize;
}

.ranked__selected {
  position: relative;
  color: #b4b4b4;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  text-align: center;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 100%;
  max-width: 10rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.9rem;
  padding-bottom: 0.9rem;
}

.ranked__svg {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  stroke: #b4b4b4;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.ranked__options-container {
  background: #1e1e1e;
  color: #f5f5f7;
  max-height: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ranked__options-container.ranked__options-container--active {
  max-height: 240px;
  opacity: 1;
}

.ranked__options-container.ranked__options-container--active + .ranked__selected > .ranked__svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ranked__option {
  padding: 0.9rem;
  text-align: start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.ranked__option:hover {
  background: #2d2d2d;
}

.ranked__radio {
  display: none;
}

.pagination {
  width: 100%;
  max-width: 1000px;
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pagination__btn {
  font-family: 'Poppins', sans-serif;
  color: #f5f5f7;
  padding: 6px;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border 250ms;
  transition: border 250ms;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background: transparent;
  border: 1.5px solid #c20b0b;
}

.pagination__btn:hover {
  border: 1.5px solid #f5f5f7;
}

.pagination__btn--text {
  width: 50px;
}

.pagination__btn--num {
  width: 30px;
}

.pagination__btn--active {
  background: -webkit-gradient(linear, right bottom, left top, from(#c20b0b), to(#bc2f2f));
  background: linear-gradient(to top left, #c20b0b, #bc2f2f);
  border: 1.5px solid #f5f5f7;
}

.footer {
  color: #6e6e6e;
  font-size: 1.2rem;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.footer__link {
  text-decoration: none;
  color: #c20b0b;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.footer__link:hover {
  color: #f5f5f7;
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 4rem;
  }
  .title__start {
    left: 1.6rem;
  }
  .title__end {
    right: 1.6rem;
  }
  .card-2 {
    overflow: scroll;
  }
  .card-3 {
    padding: 10px;
  }
}

@media only screen and (max-width: 683px) {
  .card-1 {
    width: unset;
    max-width: 320px;
    width: 100%;
  }
  .card-1-back__icon {
    font-size: 1.2rem;
  }
  .card-1-back__text {
    font-size: 1.2rem;
  }
  .card-1-back__btn {
    font-size: 1.2rem;
  }
  .card-2 {
    width: unset;
    max-width: 320px;
    width: 100%;
  }
  .card-3 {
    max-width: 640px;
    width: 95%;
    height: 50vh;
  }
  .rankings {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

@media only screen and (max-width: 1333px) {
  .card-3 {
    height: 50vh;
  }
}
/*# sourceMappingURL=main.css.map */