:root {
  --color-white: rgb(245, 245, 247);
  --color-red: rgb(194, 11, 11);
  --color-light-red: rgb(255, 53, 53);
  --color-light-green: rgb(53, 255, 53);
  --color-dull-grey: rgb(110, 110, 110);
  --match-list-height: 250px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: rgb(22, 22, 22);
  height: 100vh;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  min-height: 100%;
}

.title {
  display: block;
  white-space: nowrap;
  font-family: 'RocknRoll One', sans-serif;
  font-size: 6rem;
  text-align: center;
  letter-spacing: 0.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  user-select: none;
}

.title__link {
  color: var(--color-white);
  text-decoration: none;
}

.title__start {
  padding: none;
  position: relative;
  left: 1.8rem;
}

.title__virus {
  fill: var(--color-red);
}

.title__end {
  padding: none;
  position: relative;
  right: 1.8rem;
}

.search {
  position: relative;
  max-width: 500px;
  width: 100%;
  min-height: 40px;
}

.search__field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  color: var(--color-dull-grey);
  background:rgb(40, 40, 40);
  border: none;
  border-radius: 20px;
  padding: 1.4rem 1.4rem 1.4rem 50px;
  font-size: 1.6rem;
  border: 1px solid rgb(40, 40, 40);
  transition: 200ms ease-in;
}

.search__field::placeholder {
  color: var(--color-dull-grey);
}

.search__field:focus {
  color: var(--color-white);
  border: 1px solid var(--color-red);
  background: transparent;
}

.search__btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 40px;
  background: var(--color-red);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 300ms;
}

.search__btn:focus {
  outline: none;
}

.search__btn:hover {
  background: var(--color-white);
}

.search__btn:hover .search__icon {
  fill: var(--color-red);
}

.search__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--color-white);
  font-size: 1.8rem;
}

.search-list {
  height: 0;
  max-width: 500px;
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
  transition: 200ms;
}

.search-list--height {
  height: var(--match-list-height);
}

.search-list__item {
  height: calc(var(--match-list-height) / 6);
  border-bottom: 1px solid rgb(60, 60, 60);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition: 300ms;
}

.search-list__item:hover {
  background: rgb(30, 30, 30);
}

.search-list__search-icon {
  font-size: 1.4rem;
  fill: var(--color-dull-grey);
}

.search-list__country {
  font-size: 1.4rem;
  color: var(--color-white);
}

.search-list__abbr {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: var(--color-dull-grey);
}

.card-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-1 {
  width: 320px;
  height: auto;
  background: linear-gradient(to top left, rgb(33, 33, 33), rgb(35, 35, 35));
  border-radius: 18px;
  margin: 5px;
  overflow: hidden;
  position: relative;
}

.card-1-back--active {
  left: 0;
}

.card-1-back {
  position: absolute;
  top: 0;
  left: -100%; /*-100%*/
  width: 100%; /*0*/
  height: 100%;
  padding: 20px;
  background: linear-gradient(to top left, rgb(33, 33, 33), rgb(35, 35, 35));
  transition: 500ms ease-in-out;
}

.card-1-back__title-container {
  color: var(--color-white);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid var(--color-red);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.card-1-back__title {
  font-weight: bold;
}

.card-1-back__list {
  list-style: none;
  color: var(--color-white);
  margin-top: 15px;
  margin-bottom: 20px;
}

.card-1-back__item {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.card-1-back__icon {
  font-size: 1.4rem;
  fill: var(--color-red);
}

.card-1-back__text {
  font-size: 1.3rem;
  padding-left: 6px;
}

.card-1-back__buttons {
  display: flex;
  justify-content: space-evenly;
}

.card-1-back__btn {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  background: linear-gradient(to top left, var(--color-red), rgb(188, 47, 47));
  color: var(--color-white);
  width: 100px;
  padding: 6px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 3px 8px rgb(26, 26, 26);
  transition: border 250ms;
}

.card-1-back__btn:hover {
  border: 1px solid var(--color-white);
}

.card-1-back__btn-icon {
  stroke: var(--color-white);
  display: block;
}

.card-1-back__btn-text {
  padding-left: 5px;
}

.card-1-back__link {
  text-decoration: none;
  color: var(--color-white);
}

.card-2 {
  width: 320px;
  height: auto;
  background: linear-gradient(to top left, rgb(33, 33, 33), rgb(35, 35, 35));
  border-radius: 18px;
  /* padding: 20px; */
  margin: 5px;
}

.card-2__btn-container {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.card-2__rankings-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  background: linear-gradient(to top left, var(--color-red), rgb(188, 47, 47));
  color: var(--color-white);
  width: 150px;
  padding: 6px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 3px 8px rgb(26, 26, 26);
  transition: border 250ms;
}

.card-2__rankings-btn:hover {
  border: 1px solid var(--color-white);
}

.card-3 {
  width: 640px;
  height: auto;
  background: linear-gradient(to top left, rgb(33, 33, 33), rgb(35, 35, 35));
  border-radius: 18px;
  padding: 20px;
  margin: 5px;
}

.card-1__wrapper, .card-2__wrapper {
  padding: 20px 20px 0 20px;
}

.card-1__image-wrapper {
  width: 70%;
  margin: 0 auto;
}

.card-1__image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-1__title, .card-2__title {
  color: var(--color-white);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid var(--color-red);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.country, .daily, .total {
  font-weight: bold;
}

.abbr {
  color: var(--color-dull-grey);
}

.card-1__list {
  list-style: none;
  color: var(--color-white);
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-1__item, .card-2__item {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.card-1__icon, .card-2__icon {
  font-size: 1.8rem;
  fill: var(--color-red);
}

.card-1__label, .card-2__label {
  padding-left: 8px;
  padding-right: 8px;
  color: rgb(180, 180, 180);
}

.card-1__number, .card-2__number {
  letter-spacing: 0.1rem;
}

.card-1__btn {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.card-1__precaution-btn {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  background: linear-gradient(to top left, var(--color-red), rgb(188, 47, 47));
  color: var(--color-white);
  width: 150px;
  padding: 6px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 3px 8px rgb(26, 26, 26);
  transition: border 250ms;
}

.card-1__precaution-btn:hover {
  border: 1px solid var(--color-white);
}

.rankings-title {
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  background: rgb(30, 30, 30);
}

.rankings-title__name {
  color: var(--color-white);
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.rankings-title__date-wrapper {
  color: var(--color-dull-grey);
  font-size: 1rem;
}

.rankings-title__date-label {
  padding-right: 2px;
}

.rankings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color-white);
}

.rankings__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-top: 8px;
  padding-bottom: 8px;
  background: rgb(45, 45, 45);
}

.rankings__block--cases {
  border-right: 2px solid rgb(30, 30, 30);
}

.rankings__block--deaths {
  border-right: 2px solid rgb(30, 30, 30);
}

.rankings__value-container {
  padding-bottom: 6px;
}

.rankings__value {
  font-weight: bold;
  font-size: 1.4rem;
}

.rankings__label {
  text-transform: uppercase;
  color: rgb(180, 180, 180);
}

.card-2__list {
  list-style: none;
  color: var(--color-white);
  font-size: 1.4rem;
  margin-top: 15px;
  margin-bottom: 20px;
}

.card-2__percentage--red {
  color: var(--color-light-red);
}

.card-2__percentage--green {
  color: var(--color-light-green);
}

.no-opacity {
  opacity: 0;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner__circle {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  border: 2px solid rgba(194, 11, 11, 0.3);
  border-radius: 50%;
  border-top-color: var(--color-red);
  margin-right: 1rem;
  animation: spinner 2000ms linear infinite;
}

.footer {
  color: var(--color-dull-grey);
  font-size: 1.2rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link {
  text-decoration: none;
  color: var(--color-red);
  transition: 300ms;
}

.footer__link:hover {
  color: var(--color-white);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner__message {
  color: var(--color-white);
  font-size: 1.4rem;
}

.error {
  color: var(--color-white);
  display: flex;
  align-items: center;
}

.error__icon {
  fill: var(--color-red);
  font-size: 3rem;
  animation: shake 100ms ease-in-out 10 alternate;
}

@keyframes shake {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(-15deg);
    transform-origin: center center;
  }
}

.error__message {
  font-size: 1.6rem;
  padding: 0 8px;
}

@media only screen and (max-width: 683px) {
  .card-1 {
    width: unset;
    max-width: 320px;
    width: 100%;
  }

  .card-1-back__icon {
    font-size: 1.2rem;
  }
  
  .card-1-back__text {
    font-size: 1.2rem;
  }

  .card-1-back__btn {
    font-size: 1.2rem;
  }

  .card-2 {
    width: unset;
    max-width: 320px;
    width: 100%;
  }

  .card-3 {
    width: unset;
    max-width: 640px;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 4rem;
  }

  .title__start {
    left: 1.6rem;
  }

  .title__end {
    right: 1.6rem;
  }
}